.settings-container {
  padding: 30px;
  background: #f5f6f8;
  min-height: 100vh;
}

.settings-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-weight: 600;
  margin-bottom: 5px;
}

.desc {
  color: #666;
  font-size: 14px;
}

/* BUTTONS */
.outline-btn {
  border: 1px solid #1976d2;
  background: transparent;
  color: #1976d2;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.outline-btn:hover {
  background: #1976d2;
  color: #fff;
}

.danger-btn {
  border: 1px solid red;
  color: red;
  background: transparent;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #1976d2;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

